node_modules
.env
config.json
src/database/config/database.json
rebels.csv
/local.env
.sequelizerc
package-lock.json
package.json
.idea/chaos-discord-bot.iml
.idea/jsLibraryMappings.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
